<footer class="footer-section">
  <div class="container footer-container">
    <a class="footer-logo" href="./index.html">MIMIHO</a>
    <ul class="footer-nav-list">
      <li><a class="footer-link" href="./index.html">Головна</a></li>
      <li><a class="footer-link" href="./restourant-page.html">Ресторан</a></li>
      <li><a class="footer-link" href="./hotel-page.html">Готель</a></li>
    </ul>
    <ul class="footer-social-list">
      <li>
        <a
          class="footer-social-link"
          href="https://instagram.com"
          target="_blank"
          noopener
          norefferer
          ><span class="footer-social-text">Instagram</span>
          <svg class="footer-social-icon">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="footer-social-link"
          href="https://facebook.com"
          target="_blank"
          noopener
          norefferer
        >
          <span class="footer-social-text">Facebook</span>
          <svg class="footer-social-icon">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="footer-social-link"
          href="https://telegram.org"
          target="_blank"
          noopener
          norefferer
        >
          <span class="footer-social-text">Telegram</span>
          <svg class="footer-social-icon">
            <use href="./img/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
