<section class="section-rest-menu container">
  <div class="container-rest-menu">
    <h2 class="rest-menu-title">меню ресторану</h2>
    <div class="table-menu">
      <table class="table-menu-part">
        <caption>
          Гарячі страви
        </caption>
        <tbody>
          <tr>
            <td>Борщ з телятини з квасолею</td>
          </tr>
          <tr>
            <td>
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
            <td>400 г</td>
            <td>240 грн</td>
          </tr>
          <tr>
            <td>Суп сирний з куркою</td>
          </tr>
          <tr>
            <td>
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
            <td>400 г</td>
            <td>200 грн</td>
          </tr>
          <tr>
            <td>Паста карбонара</td>
          </tr>
          <tr>
            <td>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
            <td>350 г</td>
            <td>430 грн</td>
          </tr>
          <tr>
            <td>Стейк зі свинини</td>
          </tr>
          <tr>
            <td>
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
            <td>400 г</td>
            <td>500 грн</td>
          </tr>
          <tr>
            <td>Горбуша в соусі з білого вина</td>
          </tr>
          <tr>
            <td>Ніжна горбуша, вершковий соус на основі білого вина</td>
            <td>400 г</td>
            <td>400 грн</td>
          </tr>
        </tbody>
      </table>
      <table class="table-menu-part">
        <caption>
          Гарніри та закуски
        </caption>
        <tbody>
          <tr>
            <td>Запечені овочі</td>
          </tr>
          <tr>
            <td>Кабачок, перець, помідор, баклажан</td>
            <td>200 г</td>
            <td>230 грн</td>
          </tr>
          <tr>
            <td>Картопля фрі</td>
          </tr>
          <tr>
            <td>Картопля, соус томатний</td>
            <td>150 г</td>
            <td>160 грн</td>
          </tr>
          <tr>
            <td>Картопля по-селянськи</td>
          </tr>
          <tr>
            <td>Картопля, спеції, соус пікантний</td>
            <td>150 г</td>
            <td>160 грн</td>
          </tr>
          <tr>
            <td>Хрумкі соління з бочки</td>
          </tr>
          <tr>
            <td>
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
            <td>250 г</td>
            <td>350 грн</td>
          </tr>
          <tr>
            <td>Крильця курячі в медовому соусі</td>
          </tr>
          <tr>
            <td>
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
            <td>400 г</td>
            <td>420 грн</td>
          </tr>
        </tbody>
      </table>
      <table class="table-menu-part">
        <caption>
          Салати
        </caption>
        <tbody>
          <tr>
            <td>Цезар з куркою</td>
          </tr>
          <tr>
            <td>
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
            <td>230 г</td>
            <td>450 грн</td>
          </tr>
          <tr>
            <td>Цезар з креветками</td>
          </tr>
          <tr>
            <td>
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
          <tr>
            <td>Грецький салат</td>
          </tr>
          <tr>
            <td>
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
            <td>230 г</td>
            <td>280 грн</td>
          </tr>
          <tr>
            <td>М’ясний салат</td>
          </tr>
          <tr>
            <td>
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
        </tbody>
      </table>
      <table class="table-menu-part">
        <caption>
          Десерти
        </caption>
        <tbody>
          <tr>
            <td>Торт наполеон</td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
          <tr>
            <td>Торт маковий</td>
            <td>230 г</td>
            <td>300 грн</td>
          </tr>
          <tr>
            <td>Тірамісу</td>
            <td>120 г</td>
            <td>260 грн</td>
          </tr>
        </tbody>
      </table>
      <table class="table-menu-part">
        <caption>
          Напої
        </caption>
        <tbody>
          <tr>
            <td>Чай чорний/зелений</td>
            <td>500 мл</td>
            <td>100 грн</td>
          </tr>
          <tr>
            <td>Еспресо</td>
            <td>30 мл</td>
            <td>100 грн</td>
          </tr>
          <tr>
            <td>Американо</td>
            <td>150 мл</td>
            <td>100 грн</td>
          </tr>
          <tr>
            <td>Капучино</td>
            <td>200 мл</td>
            <td>160 грн</td>
          </tr>
          <tr>
            <td>Лате</td>
            <td>200 мл</td>
            <td>160 грн</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button">Забронювати столик</button>
  </div>
</section>
