<section class="section-rest-menu container">
  <div class="container-rest-menu">
    <h2 class="rest-menu-title">меню ресторану</h2>
    <div class="table-menu">
      <div class="table-tablet-menu">
        <h3 class="table-menu-title">Гарячі страви</h3>
        <table class="table-menu-part">
          <tbody class="table-menu-body">
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Борщ з телятини з квасолею</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
              <td class="table-menu-weight">400 г</td>
              <td class="table-menu-price">240 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Суп сирний з куркою</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
              <td class="table-menu-weight">400 г</td>
              <td class="table-menu-price">200 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Паста карбонара</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
              <td class="table-menu-weight">350 г</td>
              <td class="table-menu-price">430 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Стейк зі свинини</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
              <td class="table-menu-weight">400 г</td>
              <td class="table-menu-price">500 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">
                Горбуша в соусі з білого вина
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
              <td class="table-menu-weight">400 г</td>
              <td class="table-menu-price">400 грн</td>
            </tr>
          </tbody>
        </table>
        <h3 class="table-menu-title">Гарніри та закуски</h3>
        <table class="table-menu-part">
          <tbody class="table-menu-body">
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Запечені овочі</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Кабачок, перець, помідор, баклажан
              </td>
              <td class="table-menu-weight">200 г</td>
              <td class="table-menu-price">230 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Картопля фрі</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">Картопля, соус томатний</td>
              <td class="table-menu-weight">150 г</td>
              <td class="table-menu-price">160 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Картопля по-селянськи</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Картопля, спеції, соус пікантний
              </td>
              <td class="table-menu-weight">150 г</td>
              <td class="table-menu-price">160 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Хрумкі соління з бочки</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
              <td class="table-menu-weight">250 г</td>
              <td class="table-menu-price">350 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">
                Крильця курячі в медовому соусі
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
              <td class="table-menu-weight">400 г</td>
              <td class="table-menu-price">420 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-tablet-menu">
        <h3 class="table-menu-title">Салати</h3>
        <table class="table-menu-part">
          <tbody>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Цезар з куркою</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
              <td class="table-menu-weight">230 г</td>
              <td class="table-menu-price">450 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Цезар з креветками</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
              <td class="table-menu-weight">230 г</td>
              <td class="table-menu-price">300 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">Грецький салат</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
              <td class="table-menu-weight">230 г</td>
              <td class="table-menu-price">280 грн</td>
            </tr>
            <tr class="table-disk-distanse-up">
              <td class="table-menu-body-title">М’ясний салат</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-disk-distance">
              <td class="table-menu-body-disk">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
              <td class="table-menu-weight">230 г</td>
              <td class="table-menu-price">300 грн</td>
            </tr>
          </tbody>
        </table>
        <h3 class="table-menu-title">Десерти</h3>
        <table class="table-menu-part">
          <tbody class="table-menu-body">
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Торт наполеон</td>
              <td class="table-menu-weight">230 г</td>
              <td class="table-menu-price">300 грн</td>
            </tr>
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Торт маковий</td>
              <td class="table-menu-weight">230 г</td>
              <td class="table-menu-price">300 грн</td>
            </tr>
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Тірамісу</td>
              <td class="table-menu-weight">120 г</td>
              <td class="table-menu-price">260 грн</td>
            </tr>
          </tbody>
        </table>
        <h3 class="table-menu-title">Напої</h3>
        <table class="table-menu-part">
          <tbody class="table-menu-body">
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Чай чорний/зелений</td>
              <td class="table-menu-weight">500 мл</td>
              <td class="table-menu-price">100 грн</td>
            </tr>
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Еспресо</td>
              <td class="table-menu-weight">30 мл</td>
              <td class="table-menu-price">100 грн</td>
            </tr>
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Американо</td>
              <td class="table-menu-weight">150 мл</td>
              <td class="table-menu-price">100 грн</td>
            </tr>
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Капучино</td>
              <td class="table-menu-weight">200 мл</td>
              <td class="table-menu-price">160 грн</td>
            </tr>
            <tr class="table-menu-distance-down">
              <td class="table-menu-body-title">Лате</td>
              <td class="table-menu-weight">200 мл</td>
              <td class="table-menu-price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="button-rest">Забронювати столик</button>
  </div>
</section>
