.header-section {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header-container {
  padding-top: 16px;
  padding-bottom: 32px;
  left: calc(50% - 207px);
  background-image: linear-gradient(
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );

  margin-left: auto;
  margin-right: auto;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--white-color);
}
.header-nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 360px) {
  .header-nav-link {
    font-size: 14px;
  }
}
.header-nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}
.header-nav-item:nth-child(3) {
  margin-left: 20px;
}
@media screen and (max-width: 360px) {
  .header-nav-item:nth-child(3) {
    margin-left: 5px;
  }
}
.header-nav-item:nth-child(2n) {
  margin-left: 6px;
}
@media screen and (max-width: 360px) {
  .header-nav-item:nth-child(2n) {
    margin-left: 0px;
  }
}
.header-nav-icon {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--accent-color);
}
.header-nav-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
@media screen and (max-width: 1023px) {
  .header-nav-tel {
    display: none;
  }
}
/* ----------------------TABLET-------------------------- */
@media screen and (min-width: 1024px) {
  .header-logo {
    font-size: 40px;
  }
  .header-nav-link {
    display: flex;
    font-size: 20px;
  }
  .header-nav-tel {
    display: flex;
    align-items: center;
  }
  .header-nav-item:nth-child(2n) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px 10px 14px;
    margin-left: 32px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
  }
}
@media screen and (max-width: 1199px) {
  .header-social-list {
    display: none;
  }
}
/* ----------------------DESKTOP----------------------- */
@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-nav-item:first-child {
    margin-left: 135px;
  }
  .header-social-list {
    display: flex;
    justify-content: space-between;
    width: 112px;
    margin-left: auto;
  }
  .header-social-icon {
    width: 24px;
    height: 24px;
    fill: var(--accent-color);
  }
}
.header-help {
  position: absolute;
  top: 80px;
  left: 50px;
  color: var(--accent-color);
}
