.header-section {
  position: absolute;
  width: 100%;
  z-index: 2;
  /* background-image: linear-gradient(
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  ); */
}
.header-container {
  padding-top: 16px;
  padding-bottom: 32px;
  left: calc(50% - 207px);
  background-image: linear-gradient(
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  /* padding-top: 16px; */
  /* padding-bottom: 9px; */
  /* position: absolute; */
  /* z-index: 10; */
  /* top: 0; */

  margin-left: auto;
  margin-right: auto;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--white-color);
}
.header-nav-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (max-width: 360px) {
  .header-nav-link {
    font-size: 14px;
  }
}
.header-nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}
.header-nav-item:nth-child(3) {
  margin-left: 20px;
}
@media screen and (max-width: 360px) {
  .header-nav-item:nth-child(3) {
    margin-left: 5px;
  }
}
.header-nav-item:nth-child(2n) {
  margin-left: 6px;
}
@media screen and (max-width: 360px) {
  .header-nav-item:nth-child(2n) {
    margin-left: 0px;
  }
}
.header-nav-icon {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--accent-color);
}
